<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <script src="../js/jquery-3.4.0.min.js"></script>
    <!--    <link href="style.css" rel="stylesheet">-->
    <link href="style.css" rel="stylesheet">
    <title>Article</title>
</head>
<body>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color my-Nav">
    <a class="navbar-brand" href="#" th:text="#{article}">Article Manegement SR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

        <ul class="navbar-nav ml-auto">
            <li>
                <a class="category-Nav">category</a>
            </li>
            <li class="nav-item active">
                <a th:href="@{/?lang=kh}"> <img src="../Image/CambodiaFlag.png" alt="" class="flag1"></a>
            </li>
            <li>
                <a th:href="@{/?lang=en}"><img src="../Image/englishFlag.png" alt="" class="flag"></a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->
<!--this is body-->

<div class="container">
    <a href="/category/add"><button type="button" class="btn btn-primary">ADD CATEGORY</button></a>
    <a href="/"><button type="button" class="btn btn-info">BACK</button></a>
    <table class="table table-striped">
        <thead class="my_thead">
        <tr>
            <th  >ID</th>
            <th  >TYPE</th>
            <th  >ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cate : ${category}" th:object="${cate}">
            <td th:text="*{id}">ID</td>
            <td th:text="*{type}">TYPE</td>
            <td class="my-td" >
                <a th:href="@{/category/update/{id}(id=*{id})}" > <button type="button" class="btn btn-light my_button1"><i class="fas fa-pen"></i>update</button></a>
                <a th:href="@{/category/delete/{id}(id=*{id})}" > <button type="button" class="btn btn-light my_button2"><i class="fas fa-trash-alt"></i>delete</button></a></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
<script type="text/javascript" src="../myScript.js"></script>
</body>
</html>