<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <script src="../js/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="/style.css">

    <title>Add Article</title>
</head>
<body>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color my-Nav">
    <a class="navbar-brand" href="#" th:text="#{article}">Article Manegement SR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a th:href="@{?lang=kh}"> <img src="../Image/CambodiaFlag.png" alt="" class="flag1"></a>
            </li>
            <li>
                <a th:href="@{?lang=en}"><img src="../Image/englishFlag.png" alt="" class="flag"></a>
            </li>
        </ul>
    </div>
</nav>
<form action="/update" method="post" class="text-center" style="color: #757575;" enctype="multipart/form-data">
<div class="container">
    <!-- Material form subscription -->
    <div class="card">

        <h5 class="card-header info-color white-text text-center py-4 my-Udapte">
            <strong th:text="#{upArticle}">Update Article</strong>
        </h5>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <!--Card content-->
                <div class="card-body px-lg-5">

                    <!-- Form -->
                        <!-- ID -->
                        <div class="md-form mt-3" style="visibility: hidden">
                            <input type="text" id="article_id" th:field="${article.id}" class="form-control">
                            <label for="article_id">ID</label>
                            <span style="color:red" th:if="${#fields.hasErrors('article.id')}">this field is required</span>
                        </div>

                        <!-- TITLE -->
                        <div class="md-form">
                            <input type="text" id="title" th:field="${article.title}" class="form-control">
                            <label for="title">TITLE</label>
                            <span style="color:red" th:if="${#fields.hasErrors('article.title')}">this field is required</span>
                        </div>

                        <!-- Autor -->
                        <div class="md-form">
                            <input type="text" id="author" th:field="${article.author}" class="form-control">
                            <label for="author">Author's Name</label>
                            <span style="color:red" th:if="${#fields.hasErrors('article.author')}">this field is required</span>
                        </div>

                        <!-- Autor -->
                        <div class="md-form">
                            <input type="text" id="description" th:field="${article.description}" class="form-control">
                            <label for="description">Description</label>
                            <span style="color:red" th:if="${#fields.hasErrors('article.description')}">this field is required</span>
                        </div>

                        <!-- this is add button -->
                        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i>SAVE</button>
                        <a href="/"><button type="button" class="btn btn-primary">BACK</button></a>

                    <!-- Form -->

                </div>
            </div>
            <div  class="col-lg-6 col-md-6 col-sm-6">
                <img th:src="'../images/'+ ${article.thumbnail}" style="width: 50%;margin: auto;margin-top: 20px;">
                <div class="md-form">
                    <input type="file" name="file" class="form-control">
                </div>
            </div>
        </div>

    </div>
    <!-- Material form subscription -->
</div>
</form>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>

</body>
</html>

