<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <script src="../js/jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="/style.css">

    <title>View</title>
</head>
<body>
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color my-Nav">
    <a class="navbar-brand" href="#" th:text="#{article}">Article Manegement SR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
            aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a th:href="@{?lang=kh}"> <img src="../Image/CambodiaFlag.png" alt="" class="flag1"></a>
            </li>
            <li>
                <a th:href="@{?lang=en}"><img src="../Image/englishFlag.png" alt="" class="flag"></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
<!--    <form>-->
<!--        ID<p th:text="${article.id}"></p>-->
<!--        TITLE<p th:text="${article.title}"></p>-->
<!--        Author<p th:text="${article.author}"></p>-->
<!--        DESCRIPTION<p th:text="${article.description}"></p>-->
<!--        CREATED DATE<p th:text="${article.createDate}"></p>-->
<!--    </form>-->

    <!-- Card -->
    <a href="/"><button type="button" class="btn btn-primary">BACK</button></a>
    <h5 class="card-header info-color white-text text-center py-4 my-Udapte">
        <strong th:text="#{vArticle}">VIEW</strong>
    </h5>
    </h5>
    <div class="card card-cascade wider reverse">
        <img th:src="'../images/'+ ${article.thumbnail}" style="width: 50%;margin: auto;margin-top: 20px;">
        <!-- Card image -->
        <div class="view view-cascade overlay">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
       <div style="text-align: center">
           <form>
               <p >ID &nbsp;:&nbsp;<span th:text="${article.id}"></span></p>
               <p >TITLE &nbsp;:&nbsp;<span th:text="${article.title}"></span></p>
               <p >AUTHOR &nbsp;:&nbsp;<span th:text="${article.author}"></span></p>
               <p >DESCRIPTION &nbsp;:&nbsp; <span th:text="${article.description}"></span></p>
               <p >CREATED DATE &nbsp;:&nbsp;<span th:text="${article.createDate}"></span></p>
           </form>
       </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Exercitationem perspiciatis voluptatum a, quo nobis,
                non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit,
                placeat laborum ut beatae ullam suscipit veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Exercitationem perspiciatis voluptatum a, quo nobis,
                non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit,
                placeat laborum ut beatae ullam suscipit veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Exercitationem perspiciatis voluptatum a, quo nobis,
                non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit,
                placeat laborum ut beatae ullam suscipit veniam.
                non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit,
                placeat laborum ut beatae ullam suscipit veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Exercitationem perspiciatis voluptatum a, quo nobis,
                non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit,
                placeat laborum ut beatae ullam suscipit veniam.
                non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit,
                placeat laborum ut beatae ullam suscipit veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Exercitationem perspiciatis voluptatum a, quo nobis,
                non commodi quia repellendus sequi nulla voluptatem dicta reprehenderit,
                placeat laborum ut beatae ullam suscipit veniam.
            </p>
            

        </div>

    </div>
    <!-- Card -->
</div>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>

</body>
</html>